name: Run tests

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - 'master'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Roswell
        uses: macnod/roswell-action@v2
        with:
          sbcl-version: 2.5.10
          roswell-version: 23.10.14.114

      - name: Install dependencies
        shell: bash
        run: make install-dependencies

      - name: Run tests
        run: make test
